<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">


  <!-- ProdutoController -->
  <route id="api_est_produto_getUrlsImagens"
         controller="crosier_source.crosier_lib_radx_bundle.controller.estoque.produto_controller::getUrlsImagens"
         path="/api/est/produto/getUrlsImagens/{produto}">
    <requirement key="produto">\d+</requirement>
  </route>

  <!-- SaldoController -->
  <route id="api_fin_saldo_getSaldos"
         controller="crosier_source.crosier_lib_radx_bundle.controller.financeiro.saldo_controller::getSaldos"
         path="/api/fin/saldo">
  </route>


</routes>
